
.bir{
    margin-left: 420px !important;
}
.ikki{
    margin-left: 415px !important;
}
.uch{
    margin-left: 413px !important;
}
.tort{
    position: absolute;
    margin-left: 413px !important;
}
.besh{
    position: absolute;
    margin-left: 385px !important;
}